<div class="card">
    <div class="name"><h2>{{weather.name}}</h2></div>
    <div class="infos">
        <div class="icon-text">
            <div class="img-conteiner">
                <img [src]="iconUrl" alt="wwrwer">
            </div>
            <p style="margin-top: 5px">{{weather.weather[0].description}} </p>
        </div>
        <div>
            <div><h2>{{weather.main.temp | number:'1.1-1' }}{{unitSymbol}}</h2></div>
            <div>Sensação térmica: {{weather.main.feels_like | number:'1.1-1' }}{{unitSymbol}}</div>
        </div>
        <div>
            <div>Humidade: {{weather.main.humidity}}%</div>
            <div>Velocidade do vento: {{weather.wind.speed}} m/s</div>
        </div>
    </div>
    <div class="text-area" *ngIf="hasDetails">
        <div *ngIf="!isAdd" (click)="emitClick()" style="cursor: pointer;"><p>Remover dos Favoritos</p></div>
        <div *ngIf="isAdd" (click)="emitClick()" style="cursor: pointer;"><p>Adicionar aos Favoritos</p></div>
        <div style="cursor: pointer;" (click)="goToDetails()">Ver detalhes</div>
    </div>
</div>

